<h1>Create your note!</h1>
<form action="/create" method="POST">
  <label><p>Title</p></label>
  <input type="text" name="title" placeholder="Enter a title"><br>
  <label><p>Description</p></label>
  <textarea name="description" cols="25" rows="5" placeholder="Please enter your description"></textarea><br>
  <input type="submit" value="submit">
</form>
