<div class="container">
  <h1>Are you sure you want to delete <%= @note.title %>?</h1>
  <form action="/delete" method="POST">
	<input type="hidden" name="note_id" value="<%= @note.id %>">
	<input type="submit" value="Yes">
  </form>
  <a href="/">No</a>
</div>
